# sfp-init@.service

[Unit]
Description=Initialize and Reset SFP SerDes PHY on i2cbus-interface %i
DefaultDependencies=no
Requires=sys-subsystem-net-devices-end1.device
After=sys-subsystem-net-devices-end1.device local-fs.target network.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/sfp-init.sh "%i"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target