/include/ "system-conf.dtsi"
/ {
};

/* Debug ethernet port */
&{/axi/ethernet@ff0b0000} {
    status = "okay";
    phy-mode = "rgmii-id";
    /delete-node/ fixed-link;
    mdio {
        #address-cells = <1>;
        #size-cells = <0>;
        phy0: ethernet-phy@3 {
            reg = <3>;
            device_type = "ethernet-phy";
        };
    };
};

/* SFP GbE */
&{/axi/ethernet@ff0c0000} {
    status = "okay";
    phy-mode = "sgmii";
    is-internal-pcspma;
    fixed-link {
        speed = <1000>;
        full-duplex;
    };
};

&i2c0 {
    status = "okay";
    sfp_eeprom: sfp@50 {
        compatible = "atmel,24c02";
        reg = <0x50>;
    };
};

&sdhci1 {
        status = "okay";
        no-1-8-v;
        xlnx,mio_bank = <1>;
        wp-inverted;
};